:root {
  box-sizing: border-box;
  --header: min(4rem, 20vh);
  --footer: min(2rem, 10vh);
  --main: calc(100vh - calc(var(--header) + var(--footer)));
}

* {
  /* outline: 1px dotted red; */
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
}

#header {
  height: var(--header);
  background-color: darkslategray;
  color: aliceblue;
  font-size: 2rem;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100vw;
  height: var(--main);
  padding: 3rem;
  display: flex;
}

#footer {
  height: var(--footer);
}

#addBookButton {
  font-size: 1.5rem;
  padding: 0.75rem;
  background-color: rgb(224, 129, 95);
  border: 2px solid black;
  cursor: pointer;
  border-radius: 1em;
}

#addBookButton:hover {
  background-color: coral;
}

#modal {
  justify-content: center;
  display: none;
  background-color: bisque;
  width: fit-content;
  height: fit-content;
  padding: 3rem;
  border-radius: 1em;
  border: 1px solid darkslategray;
  box-shadow: 0em 0.25em 0.25em darkcyan;
  margin: 0 auto;
}

#modal form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#modal form label {
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
  font-weight: 600;
}

#modal form input {
  margin-bottom: 1rem;
  padding: 0.25rem;
  font-size: 1.5rem;
  font-weight: 200;
}

#formButtons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

#formButtons button {
  width: fit-content;
  font-size: 1rem;
  font-weight: 700;
  padding: 1em;
  align-self: center;
  border-radius: 1em;
  cursor: pointer;
}

#formButtons button:hover {
  background-color: coral;
}

#bookGrid {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 1rem;
  margin: 0 auto;
}

.bookCard {
  display: flex;
  flex-direction: column;

  gap: 0em;
  width: 10rem;
  height: 15rem;
  border: 1px solid darkslategray;
  border-left: 5px solid coral;
  padding: 1em;
  border-top-right-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
}

.bookCard h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bookCard p {
  margin-bottom: 0.25rem;
}
